[2020-06-15 16:50] ian-flores opened #6 "[Py] Enable Read The Docs for Python Package"
We need to enable our docs, with a webhook, to be updated here. https://readthedocs.org/

[2020-06-15 16:51] ian-flores opened #7 "[Py] Write tests"
Currently all methods implemented in glossary are not tested.

[2020-06-17 14:32] gvwilson opened #9 "Internal links not formatted by Jekyll"
1. `make site`
2. View `_site/index.html`.

Internal links like `[parameter](#paramter)` are reproduced as-is rather than being turned into HTML links by the `markdownify` filter in Jekyll.

[2020-06-17 14:33] gvwilson opened #10 "Remove standard Carpentries issue template"
This repo still uses the standard Carpentries lesson template, which is not relevant to this project.

[2020-06-17 14:52] fmichonneau commented on #10
to fix this, we need to create a new issue template in a `.github` folder at the root of the repository.

[2020-07-03 13:48] fmichonneau opened #13 "entries should list other languages that have the term defined."
Something like:

**a term**: a definition
_see also_: another term - definitions also available in: [fr] [es]

[2020-07-21 12:14] ian-flores opened #16 "`glosario.html` is not in the repo"
`index.md` renders `glosario.html` but it's not part of the repo. @gvwilson do we need to write `glosario.html` or is there a copy on a local computer?

[2020-07-21 14:04] gvwilson commented on #16
`index.md` includes `glossary.html`, which is in `_includes/glossary.html`. When I run `bundle exec jekyll serve` and go to http://localhost:4000 to preview, I see the glossary. Should I change the name of the included file to be `glosario.html` ?

[2020-07-21 14:11] gvwilson opened #17 "Symlink ./glossary.yml to ./_data/glossary.yml to avoid duplication"
This repo currently stores two versions of the glossary: one in `./glossary.yml` (for editing) and one in `./_data/glossary.yml` (because Jekyll only reads data files from `_data`, and we need that for rendering the online GitHub Pages version of the glossary).

1.  Should we replace the duplicate in `./_data/glossary.yml` with a symlink to `../glossary.yml`?
2.  Will this be OK on Windows? (Or do

[2020-07-21 14:58] zkamvar commented on #17
1. I might be missing something, but I don't see a `./_data/` directory. IME, it's perfectly fine to have a symlink (I used to [do this for my NEWS.md](https://github.com/grunwaldlab/poppr/tree/a3408f6bbfeda5881f40ccba1394743006ebd0b5) to get it to build on GH pages and CRAN).
2. Are we expecting people to practice pull/push with their contributions to this or would they be expected to initially c

[2020-07-21 15:29] gvwilson commented on #17
It looks like `.gitignore` is ignoring `_data/glossary.yml`, so is it being created during an automated build step? If so, how do I trigger that build step locally to make sure that file is up to date when previewing the site locally? cc @ian-flores

[2020-07-21 16:03] fmichonneau commented on #17
it doesn't look like there is an automated building happening yet but that should work nicely.

* on GitHub: development takes place in the main branch, changes trigger the CI/CD that calls `make site` the content of the `_site` folder gets pushed to an orphan `gh-pages` branch that takes care of the website rendering.
* locally: you can run `make serve`.

Both `make site` and `make serve` create

[2020-07-21 16:13] gvwilson commented on #17
:+1: I'll close this one and rely on the Makefile.

[2020-07-21 16:13] #17 closed

[2020-07-21 16:13] #16 closed

[2020-07-21 16:14] #9 closed

[2020-07-21 16:15] gvwilson opened #18 "Home page should list available languages, and each version should be a sub-page"
Title says it all: home page should be links to `./en/`, `./es/`, `./fr/`, etc., and the glossaries should be in those pages.

[2020-07-23 06:06] #18 closed

[2020-07-23 06:09] #13 closed

[2020-07-24 16:24] zkamvar opened #27 "Local sync of glossary.yml"
In https://github.com/carpentries/glosario-r/pull/11, the mechanism for updating the glossary is governed by a github action that will update the internal glossary daily.

In https://github.com/carpentries/glosario-py/issues/1, it is suggested to remove the glossary.yml file from the repo and have it dynamically built.

I think it would be a good idea to think about how we go about allowing people

[2020-07-24 20:12] gvwilson commented on #27
The glossary (file/package) needs to include either a version number (or more readably, a publish timestamp) to make work fully reproducible.

[2020-07-24 23:27] zkamvar commented on #27
An idea: if one of the points for this repo is a tool for teaching git, we could use the commit hash as the ID.  When the user asks to update the file, we [grab the latest commit hash from GitHub](https://docs.github.com/en/rest/reference/repos#get-a-commit) and compare it to the one the user has (this uses minimal bandwitdth). If it matches, we do nothing because they are up-to-date. If it doesn'

[2020-07-29 19:59] jduckles opened #29 "Consider a neutral point of view as a requirement for definitiions"
Looking through the definitions I found the definition of "falsy" as "A horrible neologism....".

Should a glossary be so judgemental of the reader's perspectives on the term "falsy"?

Please consider adopting a Neutral Point of View for glossary definitions. The [Wikipedia NPOV](https://en.wikipedia.org/wiki/Wikipedia:Neutral_point_of_view) is a good example

[2020-07-31 07:40] fmichonneau opened #35 "import Carpentries Spanish glossary"
https://github.com/Carpentries-ES/board/blob/master/Convenciones_Traduccion.md

pointed out by @orchid00 on [twitter](https://twitter.com/orchid00/status/1289052105920020480)

[2020-08-02 09:53] ian-flores opened #36 "Need to add a GH Action to validate the glossary before merging"
We need to add a GH Action to validate the glossary before merging. If not users eventually will have trouble loading the `YAML` file.

[2020-08-02 09:54] #6 closed

[2020-08-02 10:06] ian-flores commented on #10
Addressed adding two templates in `.github/ISSUE_TEMPLATES/`. We should be more specific about the content in them though.

[2020-08-02 10:06] #10 closed

[2020-08-02 10:06] #7 closed

[2020-08-03 19:15] #36 closed

[2020-08-04 01:33] ian-flores commented on #29
I think @jduckles raises a valid point, in which at least we shouldn't add valorations to the definitions. The Wikipedia entry seems to be quite clear about how to proceed about this. I think if @jduckles could flag all of the instances and raise them as a PR we could merge it quickly.

@gvwilson @fmichonneau @zkamvar comments?

[2020-08-04 01:58] gvwilson commented on #29
The definitions of "truthy" and "falsy" were meant humorously. No objection to them being changed.

[2020-08-06 02:38] jduckles commented on #29
Closing as merge of #43 addressed the issue.

[2020-08-06 02:38] #29 closed

[2020-08-15 14:47] beatrizmilz opened #53 "15/08/2020: Idea for Template - languages other than English"
Hi!
I would like to say an idea.
I think it would be good to show in the pages of Glosario of other languages rather than English, the term in English aswell.

A example situation to ilustrate: Gabriela speaks portuguese. She is reading a tutorial about R in english and she wants to know what is a `current working directory`. She opens the Glosario in portuguese ( https://carpentries.github.io/glo

[2020-08-15 14:49] beatrizmilz commented on #53
GitHub added the label of bug, but it's just a idea. I'm not able to chage the label

[2020-08-15 15:11] gvwilson opened #55 "Check that `ref` key does not appear under any language"
Once #48 is merged, extend the glossary checker to make sure that the `ref` (cross-reference) key does not mistakenly appear underneath any language key, but instead only appears at the top level for entries.

[2020-08-18 01:59] tonyfast opened #59 "Automating the translation workflows with Crowdin"
I'm very grateful of the work y'all have done with `glosario`. I hope to find some fun uses for it.

Ultimately, it would be really nice if `glosario` could be used with [GNU gettext language services](https://en.wikipedia.org/wiki/Gettext). Over in python land this would be a dependency free solution for localization services; tools like `sphinx` and `nikola` provide translation services that `gl

[2020-08-19 20:30] goanpeca opened #60 "Add a type/term"
Awesome project :-)

Would it be possible to add some sort of optional term-type to the definitions:

I will be uploading these definitions as terms in the JupyterLba crowdin site https://crowdin.com/project/jupyterlab/

Somethin like this:
<img width="617" alt="Screen Shot 2020-08-19 at 15 29 46" src="https://user-images.githubusercontent.com/3627835/90686363-d6e71f00-e230-11ea-9624-087d87f0b1cc.

[2020-08-19 20:31] goanpeca commented on #60
(also, this was an enhancement proposal, oops)

[2020-08-19 20:43] goanpeca commented on #59
I could make this happen if there is interest :-)

[2020-08-19 22:40] beatrizmilz opened #61 "Capitalize the first letter? ; Space between related terms"
I'm not sure if I should ask this in a Issue..

I have 2 small questions:
- Is there any standard that we should follow if the first letter of the term should be capitalized or not? (ex: we should write `Git` or `git`?)I would like to know to make the next contributions correct.

- Could we add a space after each related term? Here it looks like it's all together. Example: _gitgithub_
![image](htt

[2020-08-19 22:41] beatrizmilz commented on #61
Again, github added the 'bug' label, not me. Just questions :)

[2020-08-20 05:51] fmichonneau opened #62 "2020-08-20: Fix favicon"
use the parrot?

[2020-08-20 05:55] fmichonneau opened #63 "2020-08-20: update URLs"
The project is now (also) hosted at https://glosario.carpentries.org

Steps:
- [ ] replace links in this repo
- [ ] replace links in the R package (see https://github.com/carpentries/glosario-r/issues/15)
- [x] replace links in the Python library (see https://github.com/carpentries/glosario-py/issues/5)
- [ ] change the GH Action script to push to a branch other than `gh-pages`
- [ ] update settin

[2020-08-20 12:50] fmichonneau commented on #61
#64 addresses the lack of separation between related terms.

For the capitalization, it looks like the English version uses lowercase unless the word is meant to be capitalized. For instance, Git (when referring to the software, not the command) is capitalized.

[2020-08-20 14:16] gvwilson commented on #61
Dictionaries and glossaries in English typically do _not_ capitalize terms unless they are proper nouns ("European Union") or acronyms ("GIF"), so we should stick to lower case. I do not know the conventions for other languages...

[2020-08-20 16:24] beatrizmilz commented on #61
OK! Thank you @fmichonneau  @gvwilson, so I'll stick to that pattern when I make new contributions :)

[2020-08-28 17:44] ian-flores opened #72 "2020-08-28: Standardizing adding maintainers"
I think we need to standardize the process of adding maintainers by language. I suggest to ask the 1st person that makes a contribution in that language, and if they deny, moving to the 2nd person and so on. I'm open to suggestions or other structures but at the moment I think this is the easiest/quickest.

[2020-08-30 17:54] comradekingu commented on #59
@tonyfast If you look a bit closer you will find Crowdin isnt merely a translation service, and not even a good one at that https://github.com/jitsi/jitsi-meet/issues/5056#issuecomment-612239691
Check out https://weblate.org instead :)

[2020-09-10 07:00] tobyhodges opened #81 "2020-09-10: "source" | "sources""
The README states

which seems internally inconsistent. Should the lesson metadata have key `source` or `sources`?

[2020-09-17 14:01] gvwilson opened #85 "2020-09-17: rendering glitch in definition of Bayes Theorem"
Viewing English version of glossary, Bayes' Theorem shows as below:

![Screen Shot 2020-09-17 at 10 00 22 AM](https://user-images.githubusercontent.com/911566/93481649-c88e3080-f8cc-11ea-980c-ba96f22809ea.png)

[2020-09-17 14:05] gvwilson opened #86 "2020-09-17: Markdown not processed in terms or cross-references"
Modify `glossary.yml` to use code font and italics in a term:

[code]

The formatting characters are shown literally, i.e., Markdown is not translated in term names.

[2020-09-18 16:16] zkamvar commented on #85
I believe this is a problem on the Jekyll side. It is parsed okay on the R side:

[code]

<sup>Created on 2020-09-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-09-20 22:52] gvwilson opened #89 "2020-09-20: tooling needs for books and websites"
I'm working on two book projects right now where I'm integrating Glosario. They have identical use cases:

1. We extract glossary keys from our source files (regular expressions for the win).
2. We combine the Glosario glossary with project-specific definitions.
3. We use those keys to select entries from the combined glossary.
4. We get the transitive closure using those entries as a starting set

[2020-09-21 13:27] fmichonneau commented on #85
yes, Jekyll interprets the `|` as column delineators for a table:
[
![Screenshot from 2020-09-21 15-26-03](https://user-images.githubusercontent.com/5502922/93772239-9a6e6080-fbec-11ea-8c80-893cc61fdd1e.png)
](url)

[2020-09-21 13:45] fmichonneau commented on #85
it looks like we need to escape the `|` in the definition...

I think we want to keep the `markdowify` filter and that implies that any later alteration of the output (e.g., using `remove`) means that the `|` would be lost.

[2020-09-21 16:13] zkamvar commented on #85
The spec for kramdown is much looser than GFM or other parsers: https://kramdown.gettalong.org/quickref.html#tables

Newer versions of kramdown have GFM as an option, so maybe we can add that as the parser for markdown inside the elements? The only problem I can see is that GFM keeps the original line breaks, so the text will flow weird on smaller screens.

[2020-09-24 13:43] gvwilson opened #90 "2020-09-24: Add pronunciation"
As per https://twitter.com/neilccbrown/status/1309124732604874759, adding short audio snippets to show people how to pronounce things would be cool.

[2020-09-28 12:37] ian-flores commented on #90
This sounds very useful. Two things pop into my mind about managing it: 1) Who would do the recordings and would it be only for 1 language? 2) Where would we store the recordings? I imagine something separate from this repo like a very structured Cloud bucket but then we go into expenses like cloud billing.

[2020-09-28 12:41] ian-flores commented on #81
@tobyhodges the R package is currently using neither. It uses `base_url` as its parameter. I'll modify it so that it is `sources` as per conversations with @gvwilson we are now trying to support multiple glosario sources

[2020-09-28 14:08] tobyhodges opened #97 "2020-09-28: DefinedTerm & DefinedTermSet for metadata"
What's the rationale behind your suggestion of `glossary` metadata in the README vs. using existing standards such as [_DefinedTermSet_](https://schema.org/DefinedTermSet) and [_DefinedTerm_](https://schema.org/DefinedTerm) from Schema.org? Or is the intention that tools would convert this YAML metadata description into HTML `itemscope`/`itemprop`/`meta` tags or a JSON-LD blob, which would then us

[2020-09-28 17:18] fmichonneau commented on #90
storage of the recordings (e.g., on AWS S3) is not a problem.

[2020-09-28 17:24] gvwilson commented on #97
We wanted to minimize typing - past efforts to get people to type tags have mostly foundered. (I did once mark up a document at the level of `<person><personal-name>Greg</personal-name> <family-name>Wilson</family></person>` - never again...) We think the YAML is structured enough to support conversion to more tightly defined formats - the only thing that might be problematic is the embedded cross

[2020-09-28 17:36] tobyhodges commented on #97
Thanks @gvwilson. As I read more and more about this today I started to realise that yours was probably the answer to my question. Good to get more context though.

[2020-09-28 17:36] #97 closed

[2020-10-06 09:41] r-scotti opened #101 "2020-1006: [Divergent definitions of terms]"
The general issue is "how to reach consensus on terms definitions".
Just as a tiny example, in my appreciation, the term 'absolute error' is better defined in this [Wolfram page](https://mathworld.wolfram.com/AbsoluteError.html#:~:text=The%20difference%20between%20the%20measured,sum%20of%20their%20absolute%20errors.) than [here](https://glosario.carpentries.org/en/#absolute_error)

[2020-10-06 15:27] jsteyn opened #105 "2020-10-06:Reviewer for Afrikaans submission"
I noticed that you don't have any reviewers for Afrikaans. I would like to volunteer. How do I go about that?

[2020-10-06 17:41] zkamvar commented on #72
Looks like we've got a test case in #105

[2020-10-07 06:32] fmichonneau commented on #105
that would be great! Thank you.
I'm going to add you to the pull request template.

[2020-10-07 07:05] fmichonneau opened #108 "2020-10-07: add glosario definition in Afrikaans"
@jsteyn could you please add a description of glosario in Afrikaans?

this file needs to be edited: https://github.com/carpentries/glosario/blob/master/af.md
using content from here https://github.com/carpentries/glosario/blob/master/en.md

[2020-10-07 07:07] fmichonneau opened #109 "2020-10-07: add entry counts for each language on index page"
add the number of entries for each language on the index page

[2020-10-07 08:15] jsteyn commented on #105
Hiya! That is great. Thank you very much.
Just one question. Who reviews my pull requests?

[2020-10-07 09:07] fmichonneau commented on #105
Currently, you are the only one who has contributed entries in Afrikaans so you'll be able to review your own pull requests in Afrikaans. For the other languages, the listed editors will review your pull requests.

[2020-10-07 09:40] #105 closed

[2020-10-07 18:31] BatoolMM opened #115 "7-10-2020: Adding a definition in Arabic to the existing terms"
It would be amazing if Arabic is also included in `glosario`. However, Arabic uses unique characters, might not be supported in `glosario`. If it's alright with you, I am happy to add a definition in Arabic (`ar`) to the existing terms in the `yml` file?

[2020-10-07 18:57] zkamvar commented on #115
I believe Arabic should be supported as it can be represented in a UTF-8 character set, so if you have some translations, we would be more than happy to receive them!

[2020-10-07 20:57] #115 closed

[2020-10-07 23:32] jsteyn commented on #108
All done #113.

[2020-10-08 05:57] fmichonneau commented on #108
thank you!

[2020-10-08 05:57] #108 closed

[2020-10-08 05:59] fmichonneau commented on #105
@jsteyn I invited you to a GitHub team that will provide you with write and review access to this repository.

[2020-10-15 05:16] fmichonneau opened #134 "2020-10-15: add list of contributors"
A list of contributors to the glossary should be included on the site.

[2020-10-19 15:21] zkamvar opened #138 "2020-10-19: No bidirectional (BIDI) text support"
As @BatoolMM brought up in #136:

بايثون (python)

The issue is well described in the [w3 page on i18n](https://www.w3.org/standards/webdesign/i18n#examples).

There are resources for HTML and CSS solutions in https://w3c.github.io/typography/#bidi_text and https://drafts.csswg.org/css-writing-modes-3/#text-direction

From a little digging, we might be able to modify the template to use a yaml fla

[2020-10-20 08:06] jsteyn opened #141 "[2020-10-20]: [Syntax issues with glossary.yml]"
My son and I are developing a program to help me with the translation. However, in analysing the glossary.yml file programmatically we have come across some issues:
1. Some ```def: >``` lines miss the >
1. Some terms are not enclosed in quotes
1. Some definitions are empty

In the case of the first two issues, the program will flag an error which I fix manually. In the third case, we discovered th

[2020-10-20 09:08] BatoolMM commented on #138
Brilliant! Thank you so much @zkamvar for doing all this research.
When I tried to inspect few Arabic websites, they seem to use `<bdo>` and `<bdi>` elements to fix the direction of the text.
However, in the image you provided, the text is not completely fixed. I used colored boxes and numbers to indicate the order of each part of the text. As you can see, part 2 and part 3 are swapped around.
![A

[2020-10-20 09:51] #138 closed

[2020-10-20 14:24] zkamvar commented on #138
Oh! Thank you for pointing this out with a clear explanation! I admit that I don't read Arabic, and was just cobbling together the text :sweat_smile:

[2020-10-28 15:06] klbarnes20 opened #166 "2020-10-28: Using existing definitions"
I was wondering if there is any precedent on using existing definitions and citing where they come from or if all definitions must be completely new and written based on your own knowledge.

[2020-10-28 16:22] zkamvar commented on #166
I actually had the same question and was hesitant to add Korean translations because I was unsure of how to credit the source.

@carpentries/glosario-maintainers, any thoughts?

[2020-10-28 17:24] elletjies commented on #166
My immediate thought would be to cite existing definitions in a numbered style (i.e like Wikipedia).  Not sure how 'do-able' it is in Github and particularly the repo as it is now.

[2020-10-28 20:32] gvwilson commented on #166
We could easily add a `sources` key with links and names. Should this be at the entry level or at the language level, i.e., would it be:

[code]

or:

[code]

[2020-10-28 22:16] zkamvar commented on #166
I would expect that sources would need to be at the language level since I am not likely to find a Polish translation of "Working Directory" in the same place as one in Farsi.

[2020-10-31 10:21] baileythegreen opened #171 "31 October 2020: Some glossary terms are overloaded terms (have other meanings in this context)"
What is the appropriate way to address terms that have more than one meaning within the context represented by the scope of this glossary?

**Element**, for instance, is currently defined in relation to HTML/XML, but is also used to refer to the items inside of lists, sets, tuples, et cetera in different languages. Moreover, the definition for **empty_vector** currently reflects this second usage:

[2020-10-31 11:05] baileythegreen commented on #171
Is the model for the term `graph` what should be done?
[code]

[2020-10-31 19:04] baileythegreen opened #184 "2020-10-31: Error vs Exception"
The terms `error` and `exception` are both used in the glossary—which is fine—but they seem to be conflated and used interchangeably, probably due to a mix of authors.

Because the two terms are not equal, I propose either:

- only including one, so terms like `error_handling` and `exception_handler` are consistent, or
- clearly delineating the differences between the terms.

[2020-11-02 09:29] fmichonneau commented on #184
@gvwilson what are your thoughts on this?

[2020-11-02 09:53] fmichonneau commented on #171
Thanks for bringing this up.

I think the format should be:

[code]

so we'll get a numbered list which would be more semantically correct and improve acceesibility.

[2020-11-02 10:09] baileythegreen commented on #171
👍  I am happy to work on that (particularly as I **have** actually read through the entire glossary, which I imagine is rare). And I have a list I started of terms that are overloaded.

I would note though, that after going through the full thing, it seems like there is a different way some people have done this. Looking at the various feature_* entries, for example, you have:

[code]

I noticed t

[2020-11-02 10:16] baileythegreen opened #193 "2020-11-2: French – Bring French definitions in-line with English changes in PR #187: General editing and corrections"
To be assigned to @baileythegreen.

In PR #187 several English definitions were corrected, clarified, or generalised, but translations of these often propagate the errors from the English. I will do a first-pass at updating these.

[2020-11-02 10:17] baileythegreen opened #194 "2020-11-2: Spanish – Bring Spanish definitions in-line with English changes in PR #187: General editing and corrections"
To be assigned to @baileythegreen.

In PR #187 several English definitions were corrected, clarified, or generalised, but translations of these often propagate the errors from the English. I will do a first-pass at updating these.

[2020-11-02 10:18] #193 closed

[2020-11-02 10:19] baileythegreen opened #195 "2020-11-2: French – Bring French definitions in-line with English changes in PR #187: General editing and corrections"
To be assigned to @baileythegreen.

In PR #187 several English definitions were corrected, clarified, or generalised, but translations of these often propagate the errors from the English. I will do a first-pass at updating these.

[2020-11-02 10:58] fmichonneau opened #196 "2020-11-02: add links by letter"
Create a way to jump directly to a letter in the glossary?
What does it look like for non-Latin alphabets?

[2020-11-02 10:59] fmichonneau opened #197 "2020-11-02: add search interface"
Ctrl+F works ok but it might be worth looking into other solutions?

[2020-11-04 15:18] gvwilson opened #202 "2020-11-04: 'make check' does not catch entries with no body"
`glossary.yml` contains:

[code]

without any definitions in any language. `make check` should flag this as an error.

[2020-11-04 17:14] baileythegreen opened #203 "2020-11-4: Fix issues subsequent to #187"
For @baileythegreen.

Fix entries for:

- interpreter (duplicate entry)
- k-nearest neighbours (incorrect definition)
- REPL (grammar issue)
- scalar (wording change)

[2020-11-04 19:49] baileythegreen commented on #202
@gvwilson I looked into this. It's because it falls through checks by the linter and is silently dropped by check_glossary.py.

The linter would flag:
[code]

check_glossary.py would flag:
[code]

or

[code]

The existing function that could easily catch this is here. My notes inside `**` explain why it fails to catch them:

[code]

There are different ways this could be solved. An easy one, and t

[2020-11-04 21:24] #203 closed

[2020-11-04 22:45] baileythegreen opened #205 "2020-11-4: When building the Jekyll site locally, how can I get pages other than the main one to work?"
Note: this is a problem I have seen with all Jekyll sites I have worked with (not a large number, but bigger than one), so it may be that I have done something wrong.

I was hoping to make and try out some changes, but the changes I wanted to try are at the individual language level, and those pages render on GitHub, but not locally. Whenever I google this issue, I can only find threads where peop

[2020-11-04 22:52] baileythegreen commented on #197
Some solutions use plugins that apparently don't play well with GitHub Pages, but this one says it doesn't require plugins:
[Tipue](https://github.com/jekylltools/jekyll-tipue-search). It's archived, but might be a start?

[2020-11-05 10:56] baileythegreen commented on #205
Update:

I got this to work by altering `index.html` like this:

[code]

I'm not entirely clear on why I need to do this for it to work, or whether this is a problem for others, but if it is, a change like this will help people wanting to test changes to the web version of Glosario.

[2020-11-05 11:09] baileythegreen commented on #60
@goanpeca @zkamvar

It took a bit of tinkering, but I've got this working. So far, it displays on all language pages, but the part of speech term is not translated into the respective languages (might be desirable?).

Feedback on the placement/style, if any, is welcome.

<img width="417" alt="Screen Shot 2020-11-05 at 11 05 52" src="https://user-images.githubusercontent.com/12277715/98233447-f69c0

[2020-11-05 11:50] baileythegreen commented on #205
I forgot about one other change: I had to create a `_data/` directory and place `glossary.yml` there for the individual language pages to show any content.

This, so the `{% assign gloss = site.data.glossary %}` line in `_incudes/glossary.html` points to something.

[2020-11-05 12:20] BatoolMM commented on #205
Hi @baileythegreen, I had the same problem initially because I was using `bundle exec jekyll s -l -o` rather than `make serve` when building the site locally. This is because `make serve` copies `./glossary.yml` into `./_data/glossary.yml` and then runs `bundle exec jekyll`. I was confused at first until I went through all the closed PRs and found this PR #19.

[2020-11-05 12:33] baileythegreen commented on #205
@BatoolMM Thanks! I see now that the gh_pages branch has the _data folder, which explains why it works fine, but my original attempt at forking and rendering my own version failed. I hadn't managed to find PR #19, probably because the subject line is not directly related to the terms I searched on.

I've been using `bundle exec jekyll serve --livereload` because somewhere I found that when I first

[2020-11-05 12:59] baileythegreen commented on #196
@fmichonneau I like it (and, as I'm off work this week, am playing around with ideas for implementation, but here are some thoughts:

- It also needs to handle entries that start with a number or punctuation; currently the glossary contains `+1` and `68_95_997_rule`.
- Unicode has encodings for some non-Latin languages (I didn't find any for Japanese/Chinese dialects, but they have [Arabic](https:

[2020-11-05 22:40] baileythegreen commented on #196
@fmichonneau I've implemented a version of this [here](https://baileythegreen.github.io/glosario). I had to modify layout and CSS files as well as some HTML content files, but it's dynamic, it works in all of the languages, and I even fixed some other problems with the HTML, like the text overflowing the page.

[2020-11-05 22:41] #205 closed

[2020-11-06 05:36] fmichonneau commented on #196
that looks good! Could you please open a pull request so we can review the changes that would require?

[2020-11-07 02:37] baileythegreen commented on #196
@fmichonneau I may have kept going and also made it mobile-device-friendly. Currently the button at the top references my fork's URL (a workaround to prevent an error when I tested it locally), but I'll fix it so that's not the case later.

[2020-11-07 20:06] gvwilson opened #209 "spell checking"
We can't run glossary.yml through a conventional spell check because it is multilingual. We therefore need something that will pull the content in a specific language and run the bodies through spell checking in that language (preferably after stripping Markdown interlinks).

[2020-11-09 17:25] fmichonneau opened #211 "2020-11-09: change 'lang' attribute in top HTML tag"
regardless of the language page, the first line of each page is

[code]

the `lang` attribute should match the actual language of the page.

[2020-11-10 05:49] #211 closed

[2020-11-13 05:59] fmichonneau commented on #196
closed by #207

[2020-11-13 05:59] #196 closed

[2020-11-26 12:13] BatoolMM opened #225 "26-11-20: Arabic terms for merged PR #218 and PR #223 aren't rendered in the website."
This is to report a bug in the `glosario` repo.

It seems that recently merged PRs (PR #218 and PR #223) for Arabic translation aren't rendered on the website. In order to examine the issue, I tried to build the website locally but it's complaining.
[code]
This may have to be related to the changes introduced in PR #207 for `letter links`.  I also can't see the `letter links` in my Chrome browser.

[2020-11-26 12:21] baileythegreen commented on #225
@Batool, the repository identifier may need to be modified in your local clone to get it to render locally. I keep having to change it to baileythegreen/glosario to get it to render.

Not seeing the links in your browser is odd. I can see them in mine right now.
<img width="891" alt="Screen Shot 2020-11-26 at 12 21 08" src="https://user-images.githubusercontent.com/12277715/100350504-e4efcd00-2fe1

[2020-11-26 12:23] baileythegreen commented on #225
@BatoolMM Can you attach a screenshot of what you see in the browser?

[2020-11-26 12:27] BatoolMM commented on #225
@baileythegreen, this is strange!

<img width="1280" alt="Screenshot 2020-11-26 at 15 27 15" src="https://user-images.githubusercontent.com/53487593/100351053-df9f7c00-2ffb-11eb-9d0f-e3b13651a910.png">

[2020-11-26 12:29] baileythegreen commented on #225
@BatoolMM The strangest part for me is the url I see in your picture. Try this link:

https://carpentries.github.io/glosario/ar/

[2020-11-26 12:31] baileythegreen commented on #225
Update: I tried your url, and it looks like what the site looked like before I did things to it. I think that is just the html file, without any of the CSS styling (and therefore no letter links). No idea why that doesn't include all of the new terms.

[2020-11-26 12:43] baileythegreen commented on #225
For future reference, the correct form for the website url is:

https://carpentries.github.io/glosario

[2020-11-26 12:45] BatoolMM commented on #225
It makes sense now but my `url` is the one displayed on the main page `about` of the repo (top right).

<img width="1280" alt="Screenshot 2020-11-26 at 15 41 25" src="https://user-images.githubusercontent.com/53487593/100352516-27bf9e00-2ffe-11eb-9832-e940de85ae6d.png">

[2020-11-26 12:57] baileythegreen commented on #225
@BatoolMM The url you see on that page is set by a user in one of the 'About' fields, and so it is possible for it to be wrong. I can't change that, but you seem to have the 'Settings' gear, so you could.

In the Settings tab, you should look for the GitHub Pages section, and grab the correct url from there (this is an example from one of my sites, since I can't access the Glosario one):

<img wid

[2020-11-26 13:11] BatoolMM commented on #225
Yes, I've changed it but I want to double-check with @fmichonneau, just to clarify why are there two `URLs`?

Regarding rendering the website locally, can I ask what you meant by changing the repository identifier? Do you mean inside`.git/config`?

[2020-11-26 13:16] baileythegreen commented on #225
In my version of the _config.yml file I have the name of my version of the repository.

Regarding the two URLs, one is just the location of ar.html (or the index.html file, following the link you did, originally) file on the internet. You can access the raw versions of all of the files this way:

<img width="1153" alt="Screen Shot 2020-11-26 at 13 15 35" src="https://user-images.githubusercontent.

[2020-11-26 13:21] BatoolMM commented on #225
Thank you @baileythegreen. Everything makes sense now.
BTW, I love the new layout with the `letter links` :)

[2020-11-26 13:22] #225 closed

[2020-11-26 13:23] baileythegreen commented on #225
@BatoolMM Thank you. It's my first major foray into html/CSS. Hopefully I can improve it in the future to make it even nicer.

[2020-11-28 20:32] naoe-tatara opened #229 "2020-11-28: Ending of verbs in Japanese translations"
I wonder if there is any rule on which ending style of verbs, either so-called 'desu-masu' or 'dearu', to be used in Japanese translations. It seems that translations of the lesson materials are in 'desu-masu' style. So should translations in Glosario also in 'desu-masu' style? Thank you for your advice in advance.

[2020-12-01 07:15] elletjies opened #232 "[2020-12-01]: [Add Amharic as a language]"
Hi!

Our colleagues in Ethiopia would like to contribute to the glossary! I am currently waiting for the blurb to be translated - will share as soon as I have received it.

Thank you!

[2020-12-01 15:58] sstevens2 opened #234 "2020-12-01: Add "DRY principle""
We are linking to glossario for the [Jekyll pages lesson](https://carpentries-incubator.github.io/building-websites-with-jekyll-and-github-or-gitlab/reference.html) and thought it might be good to add a definition for the `DRY principle`.  I'm not confident in my definition and would appreciate someone else drafting it. Happy to help or review though.

[Draft PR adding glassario links to glossary

[2020-12-02 09:06] baileythegreen commented on #134
@fmichonneau Are you thinking on a separate page linked from the main one, on the main page, et cetera? And how broadly do you want to interpret 'contributor'? The broadest definition would probably be anyone who has submitted a PR, but unless there is a way to generate an automated list ([this is a possibility](https://github.com/marketplace/actions/auto-add-contributors)) this is not trivial to

[2020-12-02 11:09] baileythegreen commented on #234
@sstevens2 I have drafted one.

The Don't Repeat Yourself (DRY) Principle states that — Every piece of knowledge must have a single, unambiguous, authoritative representation within a system. The term comes from The Pragmatic Programmer, by Andrew Hunt and David Thomas. Programs that follow the DRY Principle avoid duplication of definitions and logic, so that a change in their behaviour only requi

[2020-12-02 14:01] sstevens2 commented on #234
That looks great to me!

[2020-12-02 14:37] baileythegreen commented on #234
@sstevens2 Would you like me to make the PR for it? (I've just been added as an editor, and am looking for an excuse to create a PR so I can screenshot my GitHub handle in it.

[2020-12-02 14:44] sstevens2 commented on #234
Of course!  Please do.  Your definition, you should definitely get credit via the PR.

[2020-12-02 14:54] baileythegreen commented on #234
@sstevens2

I wasn't even thinking about the credit (I don't really need it seeing as I'm already the top contributor here, hehe).

I've submitted PR #237 to resolve this.

[2020-12-02 15:11] sstevens2 commented on #234
My maintainer mentality of wanting the person who did the work to get the credit, I guess. 😆  Your PR looks great to me but I'm not as familiar with the formatting here as I just submitted my first definition yesterday. I'm sure Zhian's review will be more helpful.

[2020-12-02 15:15] baileythegreen commented on #234
I'm fairly familiar with the formatting, as my first PR here was a gigantic one just proofreading all of the English entries, but this entry is a bit unusual since it contains an acronym, but has more to it. Thus far, that is not true for any other entry, so we don't really have a way of formatting it.

[2020-12-02 15:27] sstevens2 commented on #234
Makes sense.  It is an unusual one. Possibly some precedent.

Wow amazing you proofread all the english entries!  Thanks for your hard work!

[2020-12-02 18:14] #234 closed

[2020-12-03 21:33] baileythegreen opened #238 "2020-12-3: make check and linter errors are unclear"
The errors produced by the `make check` and the `yamllint` CI checks are unclear to anyone who either did not write those files, or who has not already devoted some time into understanding what those files do.

I propose:

- [ ] Adding informative errors to their output. This is easy to do in Python, so I think could be incorporated into the `utils/check-glossary.py` script fairly easily. This wou

[2020-12-04 19:59] baileythegreen opened #239 "2020-12-4: [Newcomers Welcome] List of words that should be added"
This is a list I put together of words I think should be included in the glossary. Many of them are used in the existing definitions for other words; some are not. This seemed like a reasonable way to capture the words all in one place, and invite others to help fill them in. (It is possible some of these have been added since I made the list.)

- [ ] algorithm
- [ ] byte
- [ ] cache
- [ ] caller

[2020-12-07 10:39] fmichonneau commented on #134
I didn't think too much about the exact details of the implementation but I thought contributors could be listed on the landing page at the bottom. Yes, I was thinking anyone who has contributed to a PR should be listed. I like the idea of also listing editors. I was certainly thinking of using a GitHub action to take care of this.

[2020-12-07 10:54] baileythegreen commented on #134
I've been playing around with that action, and this is what I have so far for a contributors page. I've submitted a PR to the Action's repo to get the spacing between rows changed, and see if they can wrap the longer names.

<img width="793" alt="Screen Shot 2020-12-07 at 10 42 04" src="https://user-images.githubusercontent.com/12277715/101341366-e5f1eb80-3878-11eb-93a9-71906e4b19c5.png">

I've al

[2020-12-09 23:53] masamiy commented on #229
Good point! and sorry for the late response. As you pointed out that Japanese lessons are in 'desu-masu' style, I personally think it may be easy to keep the same style in Glosario, too. Though it may be too polite as Glossary, consistency would make translators' life a little easier. What do you think?

[2020-12-10 12:33] naoe-tatara commented on #229
Thank you for the answer! I agree with you @masamiy on the importance of consistency. Meanwhile, especially in Glossario, I feel "taigen dome"-style (or "... no koto", for example) should work best sometimes rather than sticking to "desu-masu" style. . I don't think these may be too inconsistent with "desu-masu" style and sometimes easier to read.

[2020-12-10 23:47] masamiy commented on #229
Thank you for sharing your thought! So, if I re-write this function definition with a new form, will it be:
"別の処理の中で使用する、あるいは繰り返し使用するために、連続した操作をひとかたまりの
      コードブロックとして名前を付けて定義したもの。関数は任意の引数を使って、
      入力ともしあれば返された出力(返り値)を定義する。関数は定義されたタスクを、
      関数呼び出しと呼ばれる１つのコマンドで繰り返し使用することを可能にする。”
？

I will ask at Carpentries Japan Slack (carpentries-ja.slack.com) to see how they feel if it is okay with you (tho

[2020-12-11 05:27] naoe-tatara commented on #229
No, i think it's fine with the current version with "desu-masu" ending and no need to change to "dearu", as we can keep consistency. Probably "taigen dome" is nothing conflicting with "desu-masu" style, and I may have confused you. In case of "function", the first sentence ends with "のこと", but not "のことです", which for me is natural. Similarly, sometimes we will be having cases where it sounds natura

[2020-12-11 05:56] masamiy commented on #229
Thank you for clarifying. So, do you think as long as the a sentence with defining a meaning does not use 'desu-masu', would it be okay?
A one person has a strong preference to taigen dome style and I thought it would very different from desu-masu!
I will translate one entry for my practice and ask you to have a look to see if it follows the style. Would it be okay??

[2020-12-11 07:41] naoe-tatara commented on #229
I see, thank you for your opinion. I found that taigen-dome is used often with desu-masu style, so I did not feel that it is very different. So the current version of the translation of "function" is fine, I think. But do you on the other hand feel that the first sentence should end with "定義したものです" rather than the current "定義したもの"? I translated recently "repository", and used taigen-dome style; "[

[2020-12-11 21:16] edfoster10 commented on #239
Hi - I'm claiming "byte", will submit PR shortly!

[2020-12-11 22:14] jananiharan commented on #239
Hi! I just created a PR for "command"

[2020-12-14 17:08] baileythegreen opened #253 "2020-12-14: List of empty entries in need of definitions"
These words are currently present in `glossary.yml` as empty slugs in need of definitions. Entries should be checked off once a PR has been successfully merged, but maybe comment 'claiming' ones you are working on.

- [ ] causation
- [ ] constant
- [ ] degrees_of_freedom
- [ ] directory
- [ ] geometric_mean
- [ ] harmonic_mean
- [ ] independent_variable
- [ ] masking
- [ ] posterior_distribution
-

[2020-12-15 04:35] masamiy commented on #229
I think your 'repository' translation is perfect! Do you think that "avoid 'desu-masu' style in Glosario" would be a good enough guideline? Usually dictionaries are written in less polite manner and we had a Slack discussion about Glosario style: https://carpentries-ja.slack.com/archives/C01H1AY3C7K/p1607650781000800
I think avoiding 'desu-masu' style throughout entries is just easy enough to be c

[2020-12-15 06:05] masamiy opened #254 "2020-12-15: Japanese glosario page is not alphabetical order"
https://carpentries.github.io/glosario/ja/ lists Japanese entries based on the first character of the entry. It means that the entries are not categorised by Japanese alphabet (nor English alphabet), but characters. The last entry, 'function', should be top of the current list as it is read as 'kansuu' if terms are categorise by Japanese alphabet.
As there are 46+ characters in Japanese alphabet,

[2020-12-15 06:43] #232 closed

[2020-12-15 10:03] fmichonneau commented on #134
there is also this one: https://github.com/all-contributors/all-contributors

[2020-12-15 10:12] baileythegreen commented on #134
I have experience with all-contributors, which I would not recommend. It was added to a repository where I had commented on a small number of things, and after it was added, I got 80 useless emails from it in the space of an hour.

I can look into the second one, although I have already gotten a version with add-contributors working — I'm just working on improving the styling and adding suitable l

[2020-12-15 10:33] baileythegreen commented on #254
@masamiy

The order of the entries is determined by a `sort` function on line 16 of `_includes/glossary.html`, which operates on individual characters. It may be that for languages such as Japanese we need to find a different solution entirely. The `sort` function currently being used is a liquid one, and I very much doubt they have a different one that will sort Japanese correctly. I am familiar

[2020-12-15 10:44] naoe-tatara commented on #229
Yes, I totally agree with you; "avoid 'desu-masu' style in Glosario" is a perfect solution 😃

[2020-12-15 13:17] fmichonneau commented on #134
Great! I'm looking forward to seeing it!

[2020-12-15 15:01] fmichonneau commented on #254
It looks like option 1 is going to be the way to go.
From a quick search, I saw [mecab](https://taku910.github.io/mecab/) being mentioned regularly but that's Japanese-specific and wouldn't work for Arabic, Hebrew, Amharic, etc.
From my limited understanding of this, I think the [ICU library](http://site.icu-project.org/design/cpp) would order the characters correctly. In R, it's implemented by th

[2020-12-15 15:06] baileythegreen commented on #254
I think option 1 is certainly easier to implement in the short-term. I can take a stab at writing Python code to do this, though I may need someone to verify the output in those languages.

If I do this, unless someone has an objection, I'll probably try to remove the `sort` logic from `_includes/glossary.html` entirely and use one script to do all alphabetising, rather than have it happen in diff

[2020-12-15 23:19] masamiy commented on #254
Hi @baileythegreen @fmichonneau , Thank you for your attention and suggestions. A new sort logic will definitely help for non-alphabet languages. I am happy to check Japanese output. Please let me know if there is anything I can help.

[2020-12-15 23:33] baileythegreen commented on #254
@masamiy  It'll probably take me a couple of days to get to it because I have some deadlines coming up, but I'll tag you when I do, unless @fmichonneau beats me to it.

[2020-12-16 00:02] masamiy commented on #254
Take your time :)

[2020-12-16 01:53] masamiy commented on #229
Great! I would like to add this short sentence somewhere in Glosario as I mentioned in Slack channel. If you have an idea, please let me or @TomKellyGenetics know. If you are happy with our solution, please feel free to close this issue (unless it is something I should do :)

[2020-12-16 02:24] TomKellyGenetics commented on #254
@masamiy I think the issue is a mixture of Romaji, Katakana, and Kanji in the terms defined. It's sorting them correctly.

I see two solutions:

1. Give the terms in Hiragana first and it will sort by them. This could make searching them difficult (do the packages support partial matches.

2. write a custom script that sorts differently depending on the language (as proposed above). There should b

[2020-12-16 03:05] TomKellyGenetics commented on #254
Regarding the order of the entries, the languages on the [homepage](https://glosario.carpentries.org/) may need to be changed as well (this is done manually as I understand it).

In PR https://github.com/carpentries/glosario/pull/129 I added Japanese but it is under Portuguese by mistake (not sure if this was changed around the same time and merged awkwardly).

https://github.com/carpentries/glosa

[2020-12-16 03:08] TomKellyGenetics opened #259 "2020-12-16: Order of Languages in homepage"
Regarding the order of the entries (#254), the languages on the [homepage](https://glosario.carpentries.org/) may need to be changed for _consistency_ (this is done manually as I understand it).

In PR https://github.com/carpentries/glosario/pull/129 I added Japanese but it is under Portuguese by mistake (not sure if this was changed around the same time and merged awkwardly).

https://github.com/

[2020-12-16 03:42] TomKellyGenetics commented on #229
I'm not familiar with other styles (except crude 方言) so bear with me. I looked up 体言止め and it seems to be appropriate.

+1 for consistency going forward. The question remaining I think it how to make this clear to new contributors so they don't feel they made a mistake if they submit a である definition.

[2020-12-16 05:35] masamiy commented on #229
I personally do not think it is a good idea to just state 'Use 体言止め' as a style guideline.

 My understanding of Taigen dome is to end a sentence with noun. So, the first sentence of each entry can be 体言止め as usually it defines the meaning, but I am not sure if taigen dome is appropriate in any situations.

For example, if I make all sentences in 'function' 体言止め, it would be:
"1. 別の処理の中で使用する、あるいは繰

[2020-12-16 09:48] baileythegreen commented on #259
The order of languages on the homepage is not ever sorted. It is determined entirely by the order of the entries in `_config.yml`. If you look, you will see that Japanese in this file is below Portuguese.

I gather that the number of languages that exist in this project has grown fairly quickly. Before it gets out-of-hand, we should consider whether it makes sense to have a home page that lists al

[2020-12-16 22:09] naoe-tatara commented on #229
Sorry for not being able to comment here earlier. I agree with @masamiy here; 2 sounds more natural when it ends like "...を定義する。"

On the other hand, I got probably a bit confusion and would like to make sure my understanding is in line with you all:
Regarding consistency of translation style, I first thought it is best to keep consistency everywhere Japanese translation concerns. I raised this is

[2020-12-16 23:49] masamiy commented on #229
Thanks @naoe-tatara for summarising our very deep discussion! I believe that Japanese lessons can stay as it is, i.e., with 'desu-masu' style. However, as Glosario is glossaries, dictionary form (i.e., plain form or casual form) is more appropriate. So, my understanding is that as long as your Japanese translation sounds like Wikipedia, it is fine...?

At this stage, there are only a few of us wor

[2020-12-17 00:38] TomKellyGenetics commented on #259
I understand that, I'm suggesting to decide on a consistent order to manually change it (as it only needs to be done once) and make sure that new languages are added correctly. The problem seems to be non-Latin writing systems as it's not clear where to sort them.

Of course if either of your suggested solutions are implemented this would be no longer relevant. They're both good ideas but I actual

[2020-12-18 16:19] fmichonneau opened #261 "Create a style guide"
as suggested in https://github.com/carpentries/glosario/pull/258

having a style guide would be useful to ensure that contributions from different community members are consistent and inclusive.

[2020-12-21 15:25] mdbjax commented on #239
Hello - I will be claiming data structure

[2020-12-30 07:49] davidyakobovitch commented on #239
I would like to claim terms, but I don't have competency in all the languages.  How does it work if we want to do just English?

[2020-12-30 10:42] baileythegreen commented on #239
@davidyakobovitch None of us have competency in all of the languages. I believe that usually the English entry comes first, and is then translated into other languages as people who speak them come along. Claim your entries and define them in whatever language(s) you are competent in. The editors will check the language, and then once a PR is merged, the entries you add can be found an translated

[2021-01-04 20:20] baileythegreen opened #266 "2021-01-04: Create language subteams for handling PRs"
Create subteams of language editors by language for handling PRs in each language, as discussed in PR #265.

[2021-01-08 18:52] ian-flores commented on #259
Fixed in #260

[2021-01-08 18:52] #259 closed

[2021-01-08 18:53] ian-flores commented on #35
This is being implemented and checked in Spanish contribs so closing Issue

[2021-01-08 18:53] #35 closed

[2021-01-08 19:27] baileythegreen commented on #101
@r-scotti I generally look at proposed definitions (or ones in PRs suggesting changes) and compare them to definitions elsewhere, discuss them with our other English editor and other people I know, before I submit my review. Sometimes this discussion takes place in comments on the PR itself, if the other parties are the other editors. But I can't speak for all of the editors, and I've only been pa

[2021-01-08 22:32] r-scotti opened #267 "[2021-01-08]: [Absolute error - Definition discussion]"
In my appreciation, the term 'absolute error' is better defined in this [Wolfram page](https://mathworld.wolfram.com/AbsoluteError.html#:~:text=The%20difference%20between%20the%20measured,sum%20of%20their%20absolute%20errors.) than [here](https://glosario.carpentries.org/en/#absolute_error)
(is this the way you suggested @baileythegreen ?)

[2021-01-08 22:35] r-scotti commented on #267
after 2020-01-08 mail from Bailey Harrington

[2021-01-08 22:40] r-scotti commented on #101
Good evening.
Thanks for writing. I more or less understood the procedure you follow to
reach consensus.
I tried to transfer my comment to a GitHub issue, Hope I correctly
understood your suggestions.
Sincerely, Roberto Scotti

On Fri, 8 Jan 2021 at 20:28, Bailey Harrington <notifications@github.com>
wrote:

--
Roberto Scotti
<https://scholar.google.it/citations?hl=en&user=EgZYcIAAAAAJ&view_op=lis

[2021-01-09 00:52] baileythegreen commented on #267
@r-scotti Yes, this is basically it. Would you like to submit a Pull Request suggesting an improved version? The use of existing definitions (like the Wolfram one) has been discussed in Issue #166, so you could either submit their version, or one based on that. Either way, myself and possibly the other English editor will look over it and check the definition and formatting.

[2021-01-09 00:53] baileythegreen commented on #101
See Issue #267 for discussion of Absolute Error definition.

[2021-01-09 00:53] #101 closed

[2021-01-10 14:00] r-scotti commented on #267
Hello, I am not at all familiar with this way of collaborating, yet I would like to understand better how it works.
Using R I cloned the repo (should I have 'forked' it?). Then I opened a new branch (that could be done only locally, of course! is this step at all useful?)
Checking up "- slug: absolute_error" I realized that the English definition contents are shared by all the languages I could re

[2021-01-18 04:50] TomKellyGenetics commented on #261
To clarifying I think some aspects specific to each language will be necessary. If there is a style guide in English and some general points applying to all contributions that would be a helpful starting point though.

We've discussed some consistent style decisions amongst the contributors for Japanese. As the number of contributors increases, it would be good to have somewhere to document these

[2021-01-29 08:26] AiliSarre commented on #239
Hi. I would like to claim "hardware", "CPU" and "configuration file". I will submit PR within a few days.

[2021-02-04 17:19] RainierBarrett commented on #239
Regarding "cache", I would suggest there be separate entries for "cache memory" and "browser cache", which are both likely to come up but quite separate concepts.

[2021-02-04 17:22] baileythegreen commented on #239
@RainierBarrett This is a good suggestion. I've updated the list. It may be useful to have a `cache` entry that simply points to the other two.

[2021-02-05 06:04] masamiy opened #276 "2021-02-05: Question: Glosario links in Japanese lesson"
Hello!
I am translating [English Python lesson](https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html) to Japanese. There are not many Japanese glosario entries yet, so, I was wondering how links to glosario entries work. For example, there is a link to 'libraries' in English, but where the link goes to if there is not a Japanese entry? What happens when there is a Japanese

[2021-02-05 14:35] fmichonneau commented on #266
I created teams to match the content of the table in the pull request template.

[2021-02-05 14:35] #266 closed

[2021-02-07 22:27] masamiy commented on #276
Now I learned that the link is from reference.md. Now I have a new question, so, will open a new issue.

[2021-02-07 22:27] #276 closed

[2021-02-07 22:27] masamiy commented on #276
The link is for reference.md.

[2021-02-07 22:33] masamiy opened #280 "2021-02-08: Would glosario take over reference.md ?"
There may be other lessons doing the same, but Programming with Python lessons (e.g., https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html) has a link to reference.md explaining terminology, such as 'library' and 'import'. Is there a plan for glosario taking over this link in the future?

[2021-02-08 16:20] zkamvar commented on #280
I believe so! [The reference guide is one of the older features of the lesson template](https://software-carpentry.org/blog/2014/10/new-lesson-template-v2.html), and they've been manually curated in the past, which leads to overlap in the definitions (e.g. Programming for Python and Programming for R both have the same definitions for loops), but also leads to divergence in definitions.

One of th

[2021-02-08 16:33] zkamvar commented on #280
Until the new template gains this feature, the current way to link to glosario would be to use: `[term](https://glosario.carpentries.org/lang/#term)`, so "libraries" in Spanish would be `[biblioteca](https://glosario.carpentries.org/es/#library)`: [biblioteca](https://glosario.carpentries.org/es/#library). If a definition does not exist in a given language, then the link will bring the user to the

[2021-02-13 00:26] masamiy commented on #280
Thanks @zkamvar! At this stage, I have no idea when our translated lesson is ready for publish, so, it is okay not to look good. However, I like the idea to insert a glosario link instead of reference.md. So, I will do that and go back to glosario to translate terms.

[2021-02-15 17:13] zkamvar commented on #280
Another approach used by the folks over at the Jekyll lesson in the incubator is to just populate the glossary with the links to glosario: https://carpentries-incubator.github.io/jekyll-pages-novice/reference.html#glossary (instead of replacing all of the inline links).

[2021-02-17 19:05] baileythegreen commented on #267
@r-scotti So, the reason the other languages' definitions have the same sense as the English one is because (not always, but most often) entries in Glosario are defined in English first, and then translated into other languages. So, yes, I would still advise you to edit the English definition and commit, push, and submit a PR for that. You could also flag that the other definitions should be alter

[2021-02-19 09:45] r-scotti commented on #267
Thank you for the clarification.

On Wed, 17 Feb 2021 at 20:05, Bailey Harrington <notifications@github.com>
wrote:

--
Roberto Scotti
<https://scholar.google.it/citations?hl=en&user=EgZYcIAAAAAJ&view_op=list_works&sortby=pubdate>
 - Nuoro Forestry School
<https://www.facebook.com/NuoroForestrySchoolUniSS/>
Dip. Agraria <https://www.uniss.it/ugov/person/2496> - scotti@uniss.it ORCID
iD <https://or

[2021-02-22 09:56] drj11 opened #284 "2021-02: Auto-generate links to individual entries"
I just sent a link to https://glosario.carpentries.org/en/#regression_testing to someone in chat to explain regression testing.

So, while it is possible to link to individual entries (because they have `id` attributes), it wasn't obvious how.

Can we have those hover-over (chain) link things that things like readthedocs do? (example: hover over the section title: https://python-3-for-scientists.r

[2021-02-22 10:08] baileythegreen commented on #284
Maybe! That sounds like it relates to some things I've done. And I've inspected the page you sent. Looks like something that could be programmatically generated easily enough.

I can look at it later.

(The rest of this is just notes for myself, and mutilated html so it will all be visible.)

`<h2>File path manipulation
           <a class="headerlink"
              href="#file-path-manipulation"

[2021-02-22 16:37] Eirinits opened #285 "[22/04/2021]: [Is there interest to include new languages?]"
I was wondering whether there is interest from the community to include more languages than the existing ones in the glosario.

Even though it makes sense to include the most spoken languages, languages of smaller countries are many times underrepresented and it is a real struggle finding material translated in these languages. I had in mind translating terms in Greek mainly since it is my mother

[2021-02-22 18:56] baileythegreen commented on #285
Yes!

Actually, all of the languages we have are because people have come along and added them, it wasn't a choice anyone made; they happen to be the most-spoken ones because they are the most-spoken ones.

The people already here can only contribute languages we know, so we need volunteers from other languages (like you!) who want to contribute in order to expand.

Please, contribute. If you want

[2021-02-22 18:56] #285 closed

[2021-03-01 17:49] callumrollo commented on #239
I'd like to define PyPI

[2021-03-01 18:13] baileythegreen commented on #239
@callumrollo

Go ahead! You are more than welcome to define words that are not in this list, but are missing. This is just here to help draw people in by making it a bit easier to find some missing words.

[2021-03-19 20:04] MikeResearch commented on #253
I added test_data and training_data to my local fork and am trying to figure out how to commit them properly for review.

[2021-03-21 23:50] sandyavila commented on #239
Hello there, I would like to claim the following: "source code", "queue", and "execute." I am inputting separate pull requests shortly. Thanks.

[2021-03-22 00:03] baileythegreen commented on #239
@sandyavila Feel free to do them as one, or as several pull requests; which ever you find easier. Just make sure you change the name to something more specific than 'Update glossary.yml'!

[2021-03-22 00:05] sandyavila commented on #239
@baileythegreen Thanks! I am not sure how to add the Pull Request. I am ready to post all three definitions.

[2021-03-22 00:20] baileythegreen commented on #239
If you've already committed them, in the browser, go to the branch you committed them to, and just above the list of files in the repository you'll see a box that says something about how many commits ahead/behind the carpentries/glosario repo your branch is, with a Pull Request option, and a Compare option.

Click on Pull Request.

[2021-03-22 01:53] sandyavila commented on #239
@baileythegreen Thank you! I think I did it. :)

[2021-03-26 09:55] fiona-galston commented on #239
Will write entry for loop as part of checkout process, have checked this list and open PRs and can't see it

[2021-03-26 13:48] leedotson commented on #239
I would like to claim keyword

[2021-04-07 09:27] bjthorpe opened #300 "[DATE]: [ISSUE] Add some form of build documentation to either readme or contributing"
As a new user, I noticed there is a severe lack of instructions on how to check or build the glossario. The readme makes a passing mention to Jeckyl (google was my friend in that case) and contributing just has the line "In case you wish to build up the website locally to double-check the final look, you can use make serve" which if you use it without first instaling Jeckyl gives a bunch of confus

[2021-04-07 14:07] bjthorpe commented on #300
#301

[2021-04-07 15:04] baileythegreen commented on #300
Just left some feedback on the PR.

[2021-04-13 09:15] Cristinabarber opened #306 "[DATE]: Absolute error definition"
Hi,

I noticed that the definition of the absolute error uses the word absolute in the definition. A definition should never use any of the words contained in the defined term. I propose using the following definition instead: The difference between the observed and the correct value without taking into account if the sign of the value is positive or negative.

Thanks,
Cristina

[2021-04-16 17:32] Charlie-George commented on #253
I've added 'shiny' - see pull request #308

[2021-05-03 20:31] tyt3 commented on #239
Claiming 'decrement' and 'increment'. Will make a PR soon.

[2021-05-06 13:31] lucaferranti opened #311 "[2021-05-06]: [Italian]"
Hi everyone,

this project looks like fun. I'd be glad to contribute with my mother language (Italian). I noticed the language is not supported yet, should I open a PR to add the infrastructure? I guess I could figure out how to do it by reverse engineering #224, but I wanted to double check first that adding a new language is not an "admin privilege", as I didn't find instructions about it in the

[2021-05-06 13:57] fmichonneau commented on #311
Hi Luca,

Feel free to submit a PR to add the infrastructure needed to support Italian. We'd love to have more languages supported. We are looking forward to your contributions. Would you also be willing to be an editor for the Italian language?

Thanks!

[2021-05-06 14:35] lucaferranti commented on #311
I am not sure what you mean by editor exactly, but if it means being willing to keep adding translations and review others' PR than sure count me in.

[2021-05-06 14:37] zkamvar commented on #311
Hi Luca,

You are correct that the documentation needs to be updated for adding a new language. I believe what you need to do is to create a markdown file that corresponds to your language that needs two things:

1. a YAML header that specifies the permalink relative to the root of the site (i.e. `permalink: /it/`).
2. the main body should be `{% include glosarry.html %}` for Jekyll to insert the

[2021-05-06 18:02] lucaferranti commented on #311
thank you for the instructions. From what I could tell by reverse engineering #224 , I also updated the `_config.yml` and added the language code to `utils/check-glossary.py`, no idea what this last one does though :D. Anyway, I opened a PR #313, let me know if I got some settings wrong

[2021-05-06 18:24] #311 closed

[2021-05-06 18:32] fmichonneau commented on #311
Thanks Luca! I invited you to join the "glosario-editors-it" team.

If you'd like, you can also join The Carpentries Slack (https://swc-slack-invite.herokuapp.com/) and there, we have a glosario channel.

[2021-06-01 16:28] Talishask opened #323 "6/1/2021: Lesson Contribution of Amharic Translation"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

Please see the attached lesson contribution
[Glossary_Amharic 1_final.docx](https://github.com/carpentries/glosario/files/6577725/Glossary_Amharic.1_final.docx)

[2021-06-02 06:44] elletjies commented on #323
@elletjies and @tobyhodges will be working to merge the contribution into Glossario

[2021-06-20 13:10] badryan commented on #239
Claiming 'browser cache' in my first steps with the contributors' workflow. Let's see how it goes.

[2021-06-20 13:36] badryan commented on #239
Claiming 'control flow'. PR to follow.

[2021-06-20 13:48] badryan commented on #239
Claiming 'reserved word'. PR to follow.

[2021-06-20 13:56] badryan commented on #239
Claiming 'source code'. PR to follow.

[2021-06-20 14:04] badryan commented on #239
Claiming 'interface'. PR to follow.

[2021-06-21 20:11] semyredda opened #326 "6/21/2021: New English Definition (Descriptive Statistics)"
slug: descriptivestat
ref:
-mean
-median
-mode
-standard deviation
en:
term: Descriptive Statistics
def: >
information that describes or summarizes the characteristics of a data set, such as mean, standard deviation, or sample size.

[2021-07-29 13:35] MarieHouillon commented on #195
Hello,

As a native French speaker, I propose to review the French glossary.

I have a first pull request to propose: "Variable arguments" was translated by "arguments d'une variable", which is inaccurate. I also added some information from the English definition.

If it is fine that I review the French glossary, should I propose one pull request per modified definition, or rather gathering severa

[2021-07-29 13:45] fmichonneau commented on #195
Hi @MarieHouillon,

Thanks for volunteering to help with this project. In general, we [prefer](https://github.com/carpentries/glosario/blob/master/CONTRIBUTING.md#contribution-workflow) one or a small number of changes per pull request. However, for edits to existing text, it's OK to create larger pull requests.

Thanks!

[2021-08-16 13:25] agully1 commented on #239
I'd like to claim 'user interface'. PR coming shortly.

[2021-08-30 22:00] lphegley commented on #253
Currently working on independent_variable and will make a pull request once completed.

[2021-09-01 15:51] elletjies opened #372 "[1 September]: [Setswana] Reviewer request"
Kabelo Mauco would like to review Setswana translations his Github account is MaucoKL and email meleomau@gmail.com

[2021-09-02 08:42] fmichonneau commented on #372
I created the @carpentries/glosario-editors-tn team and invited @MaucoKL to join it.

[2021-09-02 08:42] #372 closed

[2021-09-07 19:17] Talishask opened #374 "2021-09-07: Lesson Contribution English to Germany"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---
Contribution

entry from the English glosario

https://glosario.carpentries.org/en/

translation for the entry for the German glosario

https://glosario.carpentries.org/de/

[2021-09-21 14:36] johnbradley commented on #253
Claiming `directory`.

[2021-09-21 19:28] eoverstr commented on #326
slug: descriptivestat
ref:
-mean
-median
-mode
-standard deviation
-variance
-central tendency
-variability
-dispersion
-kurtosis
-skewness
-minimum value
-maximum value
-range
en:
term: Descriptive Statistic
def: >
information that describes or summarizes the characteristics of a data set, such as mean, standard deviation, variance, or sample size.

slug: descriptivestats
ref:
-mean
-median
-mode

[2021-09-30 13:15] ashwinvis commented on #239
@baileythegreen Hi, the following terms have been defined atleast once in the `main` branch, but appears as pending task here. Shouldn't it be checked out?

[code]

Here is the script that I used to check this: https://gist.github.com/ashwinvis/980412bcbed221f95fa89cbdb73b40be

[2021-09-30 13:19] ashwinvis commented on #239
I would like to define 'ipython', or rather 'IPython'. PR to follow soon.

[2021-09-30 14:09] ashwinvis opened #384 "2021-09-30: Define `debug` and `debugger`"
The term appears in Glosario:
- https://glosario.carpentries.org/en/#repl
- https://glosario.carpentries.org/en/#multi_threaded

and also as an episode
- https://swcarpentry.github.io/python-novice-inflammation/11-debugging/index.html

However thinking as someone unfamiliar with the process of debugging, these are new terms to understand.

[2021-10-05 11:10] MRudey opened #389 "05.10.2021 - Adding multiple German translations and change one definion"
Hi,
As part of my checkout procedure I decided to translate a larger amount of the terms in the glossary. I made separate [commits](https://github.com/carpentries/glosario/compare/main...MRudey:MRudeyGerman) for each of them. Along the way I also added some links to other entries when I came across it and found a wrong definition of boilerplate code (should I create a separate issue for this?).

S

[2021-10-06 12:54] fmichonneau commented on #389
You can submit a single pull request given that you have already done the work.

I had never heard this definition for boilerplate but was familiar with the one currently included in the glossary. Should we include both?

Thanks!

[2021-10-15 14:07] larnsce opened #400 "2021-10-15: README contains two typos that make an example not work"
In [Use Cases - 1. Linking a definiton](https://github.com/carpentries/glosario/blob/main/README.md#use-cases) a hyphen '-' instead of an underscore '_' was used for the example. When using the example the resulting glossary page does not jump to the entry but to the top of the page.

[2021-11-02 20:42] fmichonneau opened #441 "missing definition for R programming language in Setsawana"
in 1bf97054c3f1f330ac9ec065f99cd2257c71297c the definition of the term is missing.

@elletjies do you have it? Thanks!

[2021-11-03 06:04] elletjies commented on #441
@fmichonneau no we don't - can we add the English for now?

[2021-11-03 15:16] fmichonneau commented on #441
the English definition is already present, so we are all set. If you don't have the definition available for now, I'm going to close the issue. Thanks!

[2021-11-03 15:16] #441 closed

[2021-11-04 18:30] maneesha opened #444 "Bahasa Indonesia is listed twice"
Looks like the one at https://github.com/carpentries/glosario/blob/main/_config.yml#L115 should be removed as it does not have a blurb and also uses the [wrong iso code](https://www.loc.gov/standards/iso639-2/php/code_list.php).

[2021-11-06 15:06] #444 closed

[2021-11-08 07:29] #323 closed

[2021-11-29 02:12] Harry-Dolan commented on #239
would like to define Data Collison - PR to follow soon.

[2021-11-30 09:21] elletjies opened #463 "[30-11-2021]: [Add Sesotho]"
Hi,

Can we add Sesotho to the offerings list?

[2021-12-02 11:01] agnescameron commented on #197
Hi, I'd be interested to help with this! I've used [Simple Jekyll Search](https://github.com/christian-fei/Simple-Jekyll-Search) before, I believe it works fine with GH Pages. It might require a bit of adaption as the searched objects are individual pages, but I'd imagine most of the code would be reusable.

[2021-12-06 14:50] fmichonneau commented on #463
yes! do you already have translations for entries or the description of the project?

[2021-12-16 09:25] kathryn-garside opened #464 "[16/12/21]: Add definitions of classification metrics"
Suggestion to add definitions of common metrics when using classification models. The terms should be basic data science knowledge but are not currently listed in the Glossary.

- Confusion matrix
	A $N \times N$ matrix that describes the performance of a classification model, where $N$ is the number of classes. Each row in the matrix represents the instances of actual classes and each column repr

[2022-01-06 07:30] elletjies commented on #463
@fmichonneau we have two translations here (https://docs.google.com/spreadsheets/d/1b9EFCyZOrgx_impWDcNcA7KLnfSysM-UvWfmledCnAY/edit#gid=0) - but no translation of the description of the project yet. I am going to reach out to the community to ask if they can assist :)

[2022-01-12 20:46] vdike opened #465 "January 12, 2022: index sidebar not useful"
Using Firefox in Ubuntu on a fairly large desktop monitor, when I open glosario (https://glosario.carpentries.org/en/) the letter-index is a sidebar in which the bottom letters aren't accessible unless I scroll to the bottom of the page, negating the purpose of having such an index in the first place. For example, if I wanted to look up 'virtual machine' on my screen the clickable index letter 'V'

[2022-02-11 20:42] karenword opened #468 "11 February 2022: Suggested addition of "autocorrelation" (checkout)"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

----------------

I have a proposed word to add to Glosario:

Autocorrelation: The degree of similarity between observations in the same series but separated by a time interval

[2022-02-28 16:42] Ltressel commented on #468
I agree with the addition of the word "Autocorrelation" to the Glosario page. Having worked with time-series datasets myself,  I use autocorrelation analyses pretty often. This definition is accurate, and useful.

[2022-03-07 12:22] MilenaLa commented on #239
I would like to add a definition for encoding. PR to follow.

[2022-04-20 12:09] ezherman commented on #280
Hi @zkamvar, I was wondering whether there have been any developments in this space. Is there a preferred way of integrating glosario definitions into Carpentries Incubator lessons?

I would be happy to make the glossaries manually, just thought I'd check whether automated compilation has been implemented (as is the case for the "Key Points" section of the reference page.

[2022-04-20 14:35] zkamvar commented on #280
Hi Ezra! At the moment, there is no automatic way to integrate glosario into the lessons. This will be a project for after the beta phase of The Carpentries Workbench, so the perferred method is to directly link to the glosario definitions.

[2022-04-23 10:04] ezherman commented on #280
Sounds good @zkamvar, thank you!

[2022-04-26 07:57] jsteyn commented on #468
I'll add the term

[2022-04-26 08:28] jsteyn commented on #468
Ådded. #485

[2022-04-26 08:28] #468 closed

[2022-04-26 11:32] zdshaoteach opened #486 "[26.04.2022]: [Mandarin]"
I would like to contribute to the translation into Mandarin.
Please help me see how could I proceed.
Thank you so much!

[2022-05-09 07:16] IngaPa opened #489 "[9.5.2022.]: [Croatian]"
Dear community, I would love to translate the glossary to Croatian. With whom should I get in touch in order to do so?

warm wishes,
I

[2022-05-12 17:49] klbarnes20 commented on #489
@fmichonneau and @zkamvar could you help @IngaPa?

[2022-05-12 18:23] zkamvar commented on #489
Hello, we have instructions for adding a new language here: https://github.com/carpentries/glosario/blob/main/CONTRIBUTING.md#adding-a-new-language

[2022-05-25 09:45] #489 closed

[2022-05-25 09:45] fmichonneau commented on #489
added with #492

[2022-05-26 19:55] williamleeburgess commented on #239
With respect to @souravsingh (https://github.com/carpentries/glosario/issues/239#issuecomment-953930954), I think eight months is a reasonable head start---therefore since I don't yet see an entry for "unix" in glossary.yml, I've made a unix entry and will presently make a pull request.

[2022-06-23 13:32] Mpilo-K opened #499 "[2022-06-23]: [IsiZulu] Data Science Terms"
This is a list of terms (in IsiZulu language) related to Data Science that I think should be included in the glossary. I see that two terms already exist for IsiZulu (i.e. **I-algorithm** and **ukumbiwa kwedatha**) in [Glossario](https://glosario.carpentries.org/zu/). However, they are defined in English. I invite anyone to help add more terms and definitions. In the future, I hope that we can add

[2022-07-05 16:13] #400 closed

[2022-07-06 10:53] elletjies commented on #499
@Mpilo-K this is awesome! I can help you with the PR's if we can get the definitions of the terms you suggested.

[2022-07-14 08:32] elletjies opened #510 "[20222-07-14]: [Latin]"
We need to create the option of Latin translations

[2022-07-14 08:33] elletjies opened #511 "[2022-07-04]: [Mandarin]"
We need to create the option for Mandarin translations

[2022-09-08 18:48] lingmeng634 opened #525 "[2022-09-08]: [Chinese-中文]"
The title of Chinese should use the native language "中文" not "Chinese" like the other languages. (Example: 日本語 for Japanese)

[2022-09-11 19:46] rileyskye commented on #239
I think it would be helpful to add "pre-alpha", "alpha", and "beta" for development milestones to the glossary--I had to look up what these terms meant! I have not done this myself yet.

[2022-10-20 19:34] jsteyn commented on #374
These term all seem to have been added so I'll close this issue.

[2022-10-20 19:34] #374 closed

[2022-10-21 13:22] zkamvar opened #531 "2022-10-21: Build Failure"
I believe the token needs to be updated, but _really_ I think we need to just avoid these actions that do what we can do in the action directly.

From https://github.com/carpentries/glosario/actions/runs/3278386716/jobs/5396715910

[code]

[2022-10-22 07:50] jsteyn commented on #464
I am in the process of adding these entries. I'll close the issue when I'm done.

[2022-10-22 11:26] jsteyn commented on #464
All done

[2022-10-22 11:26] #464 closed